<footer class="footer bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About SustainKenya</h5>
        <p>An independent news platform reporting on sustainability and development issues in Kenya and the region.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/news" class="text-white">News</a></li>
          <li><a href="/climate-change" class="text-white">Climate Change</a></li>
          <li><a href="/renewable-energy" class="text-white">Renewable Energy</a></li>
          <li><a href="/biodiversity-wildlife" class="text-white">Biodiversity & Wildlife</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>info@sustainkenya.org<br>+254 700 000000</p>
        <div class="social-links">
          <a href="#" class="text-white me-2"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="text-white me-2"><i class="fa fa-facebook"></i></a>
          <a href="#" class="text-white me-2"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr class="my-4 bg-light">
    <div class="text-center">
      <p>&copy; 2025 SustainKenya. All rights reserved.</p>
    </div>
  </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!-- Custom JS -->
<script src="/js/main.js"></script>